@inject IToastService ToastService;

<section>
    @if (Item.Title.Length > 20)
    {
        <h1>@Item.Title.Substring(0,20)...</h1>
    }
    else
    {
        <h1>@Item.Title</h1>
    }
    <div>
        @foreach (var lesson in Item.LessonItems)
        {
            <div>
                <p>@lesson.Index</p>
                <div>
                    <span>
                        @lesson.StartAt.ToString(@"hh\:mm")
                        @lesson.EndAt.ToString(@"hh\:mm")
                    </span>
                    <main>
                        @if (lesson.Items.Count == 0)
                        {
                            <p>Нет занятий</p>
                        }
                        else
                        {
                            foreach (var item in lesson.Items)
                            {
                                if (item.SubGroup == 0)
                                {
                                    <div @onclick="() => showInfo(item)">
                                        <span>
                                            @if (@item.Title1.Length > 30)
                                            {
                                                <p>@item.Title1.Substring(0, 30)...</p>
                                            }
                                            else
                                            {
                                                <p>@item.Title1</p>
                                            }
                                            @if (@item.Title3.Length > 30)
                                            {
                                                <p>@item.Title3.Substring(0, 30)...</p>
                                            }
                                            else
                                            {
                                                <p>@item.Title3</p>
                                            }

                                            <b>@item.Title2</b>
                                            
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    if (item.SubGroup == 1)
                                    {
                                        <div @onclick="() => showInfo(item)">
                                            <span>
                                                @if (item.Title1.Length > 13)
                                                {
                                                    <p>@item.Title1.Substring(0, 13)...</p>
                                                }
                                                else
                                                {
                                                    <p>@item.Title1</p>
                                                }
                                                @if (item.Title3.Length > 13)
                                                {
                                                    <p>@item.Title3.Substring(0, 13)...</p>
                                                }
                                                else
                                                {
                                                    <p>@item.Title3</p>
                                                }

                                                <b>@item.Title2</b>

                                            </span>
                                        </div>
                                    }
                                    else if (!lesson.Items.Exists(s => s.SubGroup == 1))
                                    {
                                        <p style="background: lightgray;margin: 29px 30px 29px 0px;"></p>
                                    }

                                    if (item.SubGroup == 2)
                                    {
                                        <div @onclick="() => showInfo(item)">
                                            <span>
                                                @if (item.Title1.Length > 13)
                                                {
                                                    <p>@item.Title1.Substring(0, 13)...</p>
                                                }
                                                else
                                                {
                                                    <p>@item.Title1</p>
                                                }
                                                @if (item.Title3.Length > 13)
                                                {
                                                    <p>@item.Title3.Substring(0, 13)...</p>
                                                }
                                                else
                                                {
                                                    <p>@item.Title3</p>
                                                }

                                                <b>@item.Title2</b>
                                                
                                            </span>
                                        </div>
                                    }
                                    else if (!lesson.Items.Exists(s => s.SubGroup == 2))
                                    {
                                        <p style="background: lightgray;margin: 29px 30px 29px 0px;"></p>
                                    }
                                }
                            }
                        }
                    </main>
                </div>
            </div>
        }
    </div>
</section>

@code {
    [Parameter] public ScheduleItemObj Item { get; set; }

    private void showInfo(ItemObj item)
        => ToastService.ShowInfo($"{item.Title1} | \n" +
                                 $"{item.Title3} | \n" +
                                 $"{item.Title2}");
}
